.project-section{
    padding: 60px 20px;
    background-color: var(--accent-vl);
    
}

.project-section h2{
    text-align: center;
}

.project-container{
    min-width: 160px;
    height: 300px;
}

.project-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.project-container img:hover{
    transform: scale(1.05);
    transition: .4s;
}


.project-section .swiper-wrapper {
    padding: 5px 0 35px 0;
    margin: 20px 0;
  }
  
  .project-section .swiper-scrollbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  
  
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: var(--bg);
    font-size: 1.5rem;
    background-color: var(--acc);
    padding: 6px;
  }
  
  .category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project-section .swiper-pagination span {
    background-color: var(--ac);
    width: 12px;
    height: 12px;
  }

  .project-section .swiper-pagination span{
    background-color: var(--ac);
    width: 9px;
    height: 9px;
  }

  .project-section .swiper-pagination span.swiper-pagination-bullet-active{
    width: 11px;
    height: 11px;
  }