.about-main{
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 40px 40px;
    width: 100%;
}

.left-am{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    padding: 15px;
    border: 1px solid #ccc;
}

.left-am span b{
    color: var(--ac);
    font-size: 2rem;
}

.left-am h4{
    color: var(--ac);
}

.right-am{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    padding: 15px;
    border: 1px solid #ccc;
}

.right-am img{
    width: 100%;
    height: auto;
}

.about-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.about-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 48%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.about-card p{
    font-size: 2rem;
    font-weight: 700;
}

.about-gallery{
    padding: 40px 40px;
    background-color: var(--accent-vl);
}

.about-gallery h1{
    font-size: 2rem;
    font-weight: 500;
}

.gallery-container{
    min-width: 160px;
    height: 300px;
}

.gallery-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.gallery-container img:hover{
    transform: scale(1.05);
    transition: .4s;
}


.about-gallery .swiper-wrapper {
    padding: 5px 0 35px 0;
    margin: 20px 0;
  }
  
  .about-gallery .swiper-scrollbar {
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 10;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .about-gallery .swiper-scrollbar-drag {
    background-color: var(--ac);
    cursor: pointer;
  }
  
  
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: var(--bg);
    font-size: 1.5rem;
    background-color: var(--text);
    padding: 6px;
  }
  
  .category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* .about-gallery .swiper-pagination span {
    background-color: var(--ac);
    width: 12px;
    height: 12px;
  } */

  .about-gallery .swiper-pagination span{
    background-color: var(--ac);
    width: 9px;
    height: 9px;
  }

  .about-gallery .swiper-pagination span.swiper-pagination-bullet-active{
    width: 11px;
    height: 11px;
  }


@media screen and (max-width: 850px) {
    .about-main{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 15px;
    }

    .left-am, .right-am{
        width: 100%;
    }
    
    .about-gallery{
        padding: 40px 15px;
    }

    .about-gallery h1{
        font-size: 1.3rem;
    }
}
