:root {
  --p: #0072C6;
  --p-d: hsl(205, 100%, 34%);
  --ac: #FF5733;
  --ac-d: hsl(11, 100%, 55%);
  --bg: #F4F4F4;
  --tx: #2C3E50;
  --wh: #FFFFFF;
}





html,
body {
  
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

body {
  color: var(--tx);
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
}

.App{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

}

.section-header-container{
  text-align: center;
}

.section-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #2c3e50;
  position: relative;
  text-align: center;
  display: inline-block; 
}

.section-header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px; 
  width: 50%; 
  height: 6px; 
  background-color: var(--ac); 
  border-radius: 2px; 
}


