/* General container styles */
.faqs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
    border-radius: 8px;
    justify-content: center;
    
  }
  
  /* FAQs content styles */
  .faqs-content {
    flex: 1;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .faqs-content h2 {
    margin-bottom: 20px;
    color: var(--tx);
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .faq-item {
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 600;
    color: #4B515D;
    transition: color 0.3s ease-in-out;
  }
  
  .faq-question:hover {
    color: var(--tx);
  }
  
  .faq-answer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    padding: 0 0 10px 0;
  }
  
  .faq-answer p {
    margin: 0;
    color: #555;
    font-size: .8rem;
    line-height: 1.5;
  }
  
  /* FAQs image styles */
  .faqs-image {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .faqs-image img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .faqs-container {
      flex-direction: column-reverse;
    }
  
    .faqs-content,
    .faqs-image {
      width: 100%;
    }
  }
  