/* Sidebar Container */
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100%;
    background-color: var(--wh);
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
   
}

/* Open Sidebar */
.sidebar.open {
    left: 0;
    width: 75%;
    z-index: 1000;
}

 

/* Sidebar Header */
.sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sidebar-logo {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.sidebar-header img{
    width: 50px;
    height: 50px;
}



/* .close-sidebar{
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-icon{
    font-size: 25px;
} */


/* Navigation Links */
.sidebar-nav {
    flex-grow: 1;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav ul li {
    margin: 35px 0;
}

.sidebar-nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.sidebar-nav ul li a:hover {
    color: var(--ac);
}

.sidebar-nav ul li.active a{
    color: var(--ac);
    font-weight: 700;
}

.sidebar-nav ul li a svg {
    margin-right: 10px;
    font-size: 1.4rem;
}

/* Sidebar Footer */
.sidebar-footer {
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;    
}

.sidebar-footer a{
    color: var(--ac);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
}
