.back-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 15px 10px;
  background-color: var(--ac); 
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 100;
  transition: .4s;
}

.back-to-top:hover{
  background-color: var(--ac-d);
}

.back-to-top.show {
  opacity: 1;
  transform: translateY(0);
}